<%- include('partials/shop/header.ejs') -%>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">
            Selling History<br><br>
  </h1>
            <div class="container">
              <div class="row">
                <div class="col-lg-4">
                  <span style="color: black;">TRANSACTION ID</span>
                </div>
                <div class="col-lg-4">
                  <span style="color: black;">CUSTOMER ID</span>
                </div>
                <div class="col-lg-4">
                  <span style="color: black;">AMOUNT</span>
                </div>
              </div>


              <%transactions.forEach((transaction) => { %>
              <div class="">
                <div class="row">
                  <div class="col-lg-4">
                    <span>  <%=transaction._id%>   </span>
                  </div>
                  <div class="col-lg-4">
                    <span>  <%=transaction.user%>  </span>
                  </div>
                  <div class="col-lg-4">
                    <span>   <%=transaction.amount%>  </span>
                  </div>
                </div>
              </div>
              <% })%>

            </div>



        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; FCB2749</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

<%- include('partials/shop/footer.ejs') -%>
